.profilePicture {
	-webkit-transform: scale(1);
	transform: scale(1);
	position: relative;
	width: 100%;
	min-height: 130px;
	border-radius: 50%;
	transition: .3s;
	border: 6px solid #fff;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}